services:
  skibidi-bot:
    build: .
    container_name: skibidi_music_bot
    restart: always
    network_mode: host

    environment:
      - DISCORD_TOKEN=${DISCORD_TOKEN}
      - SPOTIPY_CLIENT_ID=${SPOTIPY_CLIENT_ID}
      - SPOTIPY_CLIENT_SECRET=${SPOTIPY_CLIENT_SECRET}
      - YOUTUBE_COOKIES_B64=${YOUTUBE_COOKIES_B64}